src/test/resources/sampleB2BFiles/EDI_X12/v5010/999/999Default/X12-5010-999.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Automatically generated by EDIFECS SpecBuilder (http://www.edifecs.com) -->
<xsd:schema xmlns="http://www.edifecs.com/xdata/200" targetNamespace="http://www.edifecs.com/xdata/200" xmlns:xsd="http://www.w3.org/2001/XMLSchema" version="1.0" elementFormDefault="qualified">
	<xsd:annotation>
		<xsd:appinfo>
			<FileName>C:\Users\IEUser\Documents\Oracle\Oracle Document Editor\Guidelines\X12-5010-999.ecs</FileName>
			<InternalID>{1B509F4A-4BA5-480E-BFE8-715DC76DE8DF}</InternalID>
		</xsd:appinfo>
	</xsd:annotation>
	<xsd:element name="Transaction-999" type="Transaction-999"/>
	<xsd:complexType name="Transaction-999">
		<xsd:annotation>
			<xsd:documentation>This X12 Transaction Set contains the format and establishes the data contents of the Implementation Acknowledgment Transaction Set (999) for use within the context of an Electronic Data Interchange (EDI) environment. The transaction set can be used to define the control structures for a set of acknowledgments to indicate the results of the syntactical and relational analysis of the electronically encoded documents, based upon a full or implemented subset of X12 transaction sets. The encoded documents are the transaction sets, which are grouped in functional groups, used in defining transactions for business data interchange. This standard does not cover the semantic meaning of the information encoded in the transaction sets. </xsd:documentation>
			<xsd:appinfo>
				<UNMKey>Full|Default|-&lt;Node ID&gt;|CodeList|-&lt;Parent Node ID&gt;.&lt;Index&gt;|ReplacementCharacter|_|InternalSeparator|-</UNMKey>
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Internal-Properties" type="Internal-Properties" minOccurs="0"/>
			<xsd:element name="Segment-ST" type="Segment-ST"/>
			<xsd:element name="Segment-AK1" type="Segment-AK1"/>
			<xsd:element name="Loop-AK2" type="Loop-AK2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="Segment-AK9" type="Segment-AK9"/>
			<xsd:element name="Segment-SE" type="Segment-SE"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Transaction" type="xsd:string"/>
		<xsd:attribute name="ID" default="999" type="xsd:string"/>
		<xsd:attribute name="Name" default="Implementation Acknowledgment" type="xsd:string"/>
		<xsd:attribute name="XDataVersion" fixed="2.0" type="xsd:string"/>
		<xsd:attribute name="Standard" fixed="X12" use="required" type="xsd:string"/>
		<xsd:attribute name="Version" default="V5010" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
		<xsd:attribute name="CreatedBy" type="xsd:string"/>
		<xsd:attribute name="CreatedDate" type="xsd:dateTime"/>
	</xsd:complexType>
	<xsd:simpleType name="GUID">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="\{[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}\}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EDI-Element-String-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Integer-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:integer">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Decimal-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-hexBinary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:hexBinary">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-base64Binary-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:base64Binary">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EDI-Element-Any-Type">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Type" default="Element" type="xsd:string"/>
				<xsd:attribute name="EDIDataType" type="xsd:string"/>
				<xsd:attribute name="Macro" type="xsd:string" use="optional"/>
				<xsd:attribute name="ApplicationInfo" type="xsd:string"/>
				<xsd:attribute name="ID" type="xsd:string"/>
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Internal-Properties">
		<xsd:sequence>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Data-Structure">
		<xsd:sequence>
			<xsd:element name="Lookup" type="Lookup" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Property" type="Property" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Data-Structure" type="Data-Structure" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="Name" type="xsd:string"/>
		<xsd:attribute name="GUID" type="GUID"/>
	</xsd:complexType>
	<xsd:complexType name="Lookup">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Property">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="Name" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Segment-ST">
		<xsd:annotation>
			<xsd:documentation>To indicate the start of a transaction set and to assign a control number</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-143" type="Element-143"/>
			<xsd:element name="Element-329" type="Element-329"/>
			<xsd:element name="Element-1705" type="Element-1705" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="ST" type="xsd:string"/>
		<xsd:attribute name="Name" default="Transaction Set Header" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-143">
		<xsd:annotation>
			<xsd:documentation>Code uniquely identifying a Transaction Set </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="100"/>
				<xsd:enumeration value="101"/>
				<xsd:enumeration value="102"/>
				<xsd:enumeration value="103"/>
				<xsd:enumeration value="104"/>
				<xsd:enumeration value="105"/>
				<xsd:enumeration value="106"/>
				<xsd:enumeration value="107"/>
				<xsd:enumeration value="108"/>
				<xsd:enumeration value="109"/>
				<xsd:enumeration value="110"/>
				<xsd:enumeration value="111"/>
				<xsd:enumeration value="112"/>
				<xsd:enumeration value="113"/>
				<xsd:enumeration value="120"/>
				<xsd:enumeration value="121"/>
				<xsd:enumeration value="124"/>
				<xsd:enumeration value="125"/>
				<xsd:enumeration value="126"/>
				<xsd:enumeration value="127"/>
				<xsd:enumeration value="128"/>
				<xsd:enumeration value="129"/>
				<xsd:enumeration value="130"/>
				<xsd:enumeration value="131"/>
				<xsd:enumeration value="132"/>
				<xsd:enumeration value="133"/>
				<xsd:enumeration value="135"/>
				<xsd:enumeration value="138"/>
				<xsd:enumeration value="139"/>
				<xsd:enumeration value="140"/>
				<xsd:enumeration value="141"/>
				<xsd:enumeration value="142"/>
				<xsd:enumeration value="143"/>
				<xsd:enumeration value="144"/>
				<xsd:enumeration value="146"/>
				<xsd:enumeration value="147"/>
				<xsd:enumeration value="148"/>
				<xsd:enumeration value="149"/>
				<xsd:enumeration value="150"/>
				<xsd:enumeration value="151"/>
				<xsd:enumeration value="152"/>
				<xsd:enumeration value="153"/>
				<xsd:enumeration value="154"/>
				<xsd:enumeration value="155"/>
				<xsd:enumeration value="157"/>
				<xsd:enumeration value="158"/>
				<xsd:enumeration value="159"/>
				<xsd:enumeration value="160"/>
				<xsd:enumeration value="161"/>
				<xsd:enumeration value="163"/>
				<xsd:enumeration value="170"/>
				<xsd:enumeration value="175"/>
				<xsd:enumeration value="176"/>
				<xsd:enumeration value="179"/>
				<xsd:enumeration value="180"/>
				<xsd:enumeration value="185"/>
				<xsd:enumeration value="186"/>
				<xsd:enumeration value="187"/>
				<xsd:enumeration value="188"/>
				<xsd:enumeration value="189"/>
				<xsd:enumeration value="190"/>
				<xsd:enumeration value="191"/>
				<xsd:enumeration value="194"/>
				<xsd:enumeration value="195"/>
				<xsd:enumeration value="196"/>
				<xsd:enumeration value="197"/>
				<xsd:enumeration value="198"/>
				<xsd:enumeration value="199"/>
				<xsd:enumeration value="200"/>
				<xsd:enumeration value="201"/>
				<xsd:enumeration value="202"/>
				<xsd:enumeration value="203"/>
				<xsd:enumeration value="204"/>
				<xsd:enumeration value="205"/>
				<xsd:enumeration value="206"/>
				<xsd:enumeration value="210"/>
				<xsd:enumeration value="211"/>
				<xsd:enumeration value="212"/>
				<xsd:enumeration value="213"/>
				<xsd:enumeration value="214"/>
				<xsd:enumeration value="215"/>
				<xsd:enumeration value="216"/>
				<xsd:enumeration value="217"/>
				<xsd:enumeration value="219"/>
				<xsd:enumeration value="220"/>
				<xsd:enumeration value="222"/>
				<xsd:enumeration value="223"/>
				<xsd:enumeration value="224"/>
				<xsd:enumeration value="225"/>
				<xsd:enumeration value="227"/>
				<xsd:enumeration value="228"/>
				<xsd:enumeration value="240"/>
				<xsd:enumeration value="242"/>
				<xsd:enumeration value="244"/>
				<xsd:enumeration value="245"/>
				<xsd:enumeration value="248"/>
				<xsd:enumeration value="249"/>
				<xsd:enumeration value="250"/>
				<xsd:enumeration value="251"/>
				<xsd:enumeration value="252"/>
				<xsd:enumeration value="255"/>
				<xsd:enumeration value="256"/>
				<xsd:enumeration value="259"/>
				<xsd:enumeration value="260"/>
				<xsd:enumeration value="261"/>
				<xsd:enumeration value="262"/>
				<xsd:enumeration value="263"/>
				<xsd:enumeration value="264"/>
				<xsd:enumeration value="265"/>
				<xsd:enumeration value="266"/>
				<xsd:enumeration value="267"/>
				<xsd:enumeration value="268"/>
				<xsd:enumeration value="269"/>
				<xsd:enumeration value="270"/>
				<xsd:enumeration value="271"/>
				<xsd:enumeration value="272"/>
				<xsd:enumeration value="273"/>
				<xsd:enumeration value="274"/>
				<xsd:enumeration value="275"/>
				<xsd:enumeration value="276"/>
				<xsd:enumeration value="277"/>
				<xsd:enumeration value="278"/>
				<xsd:enumeration value="280"/>
				<xsd:enumeration value="283"/>
				<xsd:enumeration value="284"/>
				<xsd:enumeration value="285"/>
				<xsd:enumeration value="286"/>
				<xsd:enumeration value="288"/>
				<xsd:enumeration value="290"/>
				<xsd:enumeration value="300"/>
				<xsd:enumeration value="301"/>
				<xsd:enumeration value="303"/>
				<xsd:enumeration value="304"/>
				<xsd:enumeration value="309"/>
				<xsd:enumeration value="310"/>
				<xsd:enumeration value="311"/>
				<xsd:enumeration value="312"/>
				<xsd:enumeration value="313"/>
				<xsd:enumeration value="315"/>
				<xsd:enumeration value="317"/>
				<xsd:enumeration value="319"/>
				<xsd:enumeration value="322"/>
				<xsd:enumeration value="323"/>
				<xsd:enumeration value="324"/>
				<xsd:enumeration value="325"/>
				<xsd:enumeration value="326"/>
				<xsd:enumeration value="350"/>
				<xsd:enumeration value="352"/>
				<xsd:enumeration value="353"/>
				<xsd:enumeration value="354"/>
				<xsd:enumeration value="355"/>
				<xsd:enumeration value="356"/>
				<xsd:enumeration value="357"/>
				<xsd:enumeration value="358"/>
				<xsd:enumeration value="361"/>
				<xsd:enumeration value="362"/>
				<xsd:enumeration value="404"/>
				<xsd:enumeration value="410"/>
				<xsd:enumeration value="412"/>
				<xsd:enumeration value="414"/>
				<xsd:enumeration value="417"/>
				<xsd:enumeration value="418"/>
				<xsd:enumeration value="419"/>
				<xsd:enumeration value="420"/>
				<xsd:enumeration value="421"/>
				<xsd:enumeration value="422"/>
				<xsd:enumeration value="423"/>
				<xsd:enumeration value="424"/>
				<xsd:enumeration value="425"/>
				<xsd:enumeration value="426"/>
				<xsd:enumeration value="429"/>
				<xsd:enumeration value="431"/>
				<xsd:enumeration value="432"/>
				<xsd:enumeration value="433"/>
				<xsd:enumeration value="434"/>
				<xsd:enumeration value="435"/>
				<xsd:enumeration value="436"/>
				<xsd:enumeration value="437"/>
				<xsd:enumeration value="440"/>
				<xsd:enumeration value="451"/>
				<xsd:enumeration value="452"/>
				<xsd:enumeration value="453"/>
				<xsd:enumeration value="455"/>
				<xsd:enumeration value="456"/>
				<xsd:enumeration value="460"/>
				<xsd:enumeration value="463"/>
				<xsd:enumeration value="466"/>
				<xsd:enumeration value="468"/>
				<xsd:enumeration value="470"/>
				<xsd:enumeration value="475"/>
				<xsd:enumeration value="485"/>
				<xsd:enumeration value="486"/>
				<xsd:enumeration value="490"/>
				<xsd:enumeration value="492"/>
				<xsd:enumeration value="494"/>
				<xsd:enumeration value="500"/>
				<xsd:enumeration value="501"/>
				<xsd:enumeration value="503"/>
				<xsd:enumeration value="504"/>
				<xsd:enumeration value="511"/>
				<xsd:enumeration value="517"/>
				<xsd:enumeration value="521"/>
				<xsd:enumeration value="527"/>
				<xsd:enumeration value="536"/>
				<xsd:enumeration value="540"/>
				<xsd:enumeration value="561"/>
				<xsd:enumeration value="567"/>
				<xsd:enumeration value="568"/>
				<xsd:enumeration value="601"/>
				<xsd:enumeration value="602"/>
				<xsd:enumeration value="620"/>
				<xsd:enumeration value="625"/>
				<xsd:enumeration value="650"/>
				<xsd:enumeration value="715"/>
				<xsd:enumeration value="753"/>
				<xsd:enumeration value="754"/>
				<xsd:enumeration value="805"/>
				<xsd:enumeration value="806"/>
				<xsd:enumeration value="810"/>
				<xsd:enumeration value="811"/>
				<xsd:enumeration value="812"/>
				<xsd:enumeration value="813"/>
				<xsd:enumeration value="814"/>
				<xsd:enumeration value="815"/>
				<xsd:enumeration value="816"/>
				<xsd:enumeration value="818"/>
				<xsd:enumeration value="819"/>
				<xsd:enumeration value="820"/>
				<xsd:enumeration value="821"/>
				<xsd:enumeration value="822"/>
				<xsd:enumeration value="823"/>
				<xsd:enumeration value="824"/>
				<xsd:enumeration value="826"/>
				<xsd:enumeration value="827"/>
				<xsd:enumeration value="828"/>
				<xsd:enumeration value="829"/>
				<xsd:enumeration value="830"/>
				<xsd:enumeration value="831"/>
				<xsd:enumeration value="832"/>
				<xsd:enumeration value="833"/>
				<xsd:enumeration value="834"/>
				<xsd:enumeration value="835"/>
				<xsd:enumeration value="836"/>
				<xsd:enumeration value="837"/>
				<xsd:enumeration value="838"/>
				<xsd:enumeration value="839"/>
				<xsd:enumeration value="840"/>
				<xsd:enumeration value="841"/>
				<xsd:enumeration value="842"/>
				<xsd:enumeration value="843"/>
				<xsd:enumeration value="844"/>
				<xsd:enumeration value="845"/>
				<xsd:enumeration value="846"/>
				<xsd:enumeration value="847"/>
				<xsd:enumeration value="848"/>
				<xsd:enumeration value="849"/>
				<xsd:enumeration value="850"/>
				<xsd:enumeration value="851"/>
				<xsd:enumeration value="852"/>
				<xsd:enumeration value="853"/>
				<xsd:enumeration value="854"/>
				<xsd:enumeration value="855"/>
				<xsd:enumeration value="856"/>
				<xsd:enumeration value="857"/>
				<xsd:enumeration value="858"/>
				<xsd:enumeration value="859"/>
				<xsd:enumeration value="860"/>
				<xsd:enumeration value="861"/>
				<xsd:enumeration value="862"/>
				<xsd:enumeration value="863"/>
				<xsd:enumeration value="864"/>
				<xsd:enumeration value="865"/>
				<xsd:enumeration value="866"/>
				<xsd:enumeration value="867"/>
				<xsd:enumeration value="868"/>
				<xsd:enumeration value="869"/>
				<xsd:enumeration value="870"/>
				<xsd:enumeration value="871"/>
				<xsd:enumeration value="872"/>
				<xsd:enumeration value="873"/>
				<xsd:enumeration value="874"/>
				<xsd:enumeration value="875"/>
				<xsd:enumeration value="876"/>
				<xsd:enumeration value="877"/>
				<xsd:enumeration value="878"/>
				<xsd:enumeration value="879"/>
				<xsd:enumeration value="880"/>
				<xsd:enumeration value="881"/>
				<xsd:enumeration value="882"/>
				<xsd:enumeration value="883"/>
				<xsd:enumeration value="884"/>
				<xsd:enumeration value="885"/>
				<xsd:enumeration value="886"/>
				<xsd:enumeration value="887"/>
				<xsd:enumeration value="888"/>
				<xsd:enumeration value="889"/>
				<xsd:enumeration value="891"/>
				<xsd:enumeration value="893"/>
				<xsd:enumeration value="894"/>
				<xsd:enumeration value="895"/>
				<xsd:enumeration value="896"/>
				<xsd:enumeration value="920"/>
				<xsd:enumeration value="924"/>
				<xsd:enumeration value="925"/>
				<xsd:enumeration value="926"/>
				<xsd:enumeration value="928"/>
				<xsd:enumeration value="940"/>
				<xsd:enumeration value="943"/>
				<xsd:enumeration value="944"/>
				<xsd:enumeration value="945"/>
				<xsd:enumeration value="947"/>
				<xsd:enumeration value="980"/>
				<xsd:enumeration value="990"/>
				<xsd:enumeration value="993"/>
				<xsd:enumeration value="996"/>
				<xsd:enumeration value="997"/>
				<xsd:enumeration value="998"/>
				<xsd:enumeration value="999"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="143" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Transaction Set Identifier Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-329">
		<xsd:annotation>
			<xsd:documentation>Identifying control number that must be unique within the transaction set functional group assigned by the originator for a transaction set </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="4"/>
				<xsd:maxLength value="9"/>
				<xsd:attribute name="EDIDataType" fixed="AN" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="329" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Transaction Set Control Number" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-1705">
		<xsd:annotation>
			<xsd:documentation>Reference assigned to identify Implementation Convention </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="35"/>
				<xsd:attribute name="EDIDataType" fixed="AN" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="1705" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Implementation Convention Reference" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Segment-AK1">
		<xsd:annotation>
			<xsd:documentation>To start acknowledgment of a functional group</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-479" type="Element-479"/>
			<xsd:element name="Element-28" type="Element-28"/>
			<xsd:element name="Element-480" type="Element-480" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="AK1" type="xsd:string"/>
		<xsd:attribute name="Name" default="Functional Group Response Header" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-479">
		<xsd:annotation>
			<xsd:documentation>Code identifying a group of application related transaction sets </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="AA"/>
				<xsd:enumeration value="AB"/>
				<xsd:enumeration value="AC"/>
				<xsd:enumeration value="AD"/>
				<xsd:enumeration value="AE"/>
				<xsd:enumeration value="AF"/>
				<xsd:enumeration value="AG"/>
				<xsd:enumeration value="AH"/>
				<xsd:enumeration value="AI"/>
				<xsd:enumeration value="AK"/>
				<xsd:enumeration value="AL"/>
				<xsd:enumeration value="AM"/>
				<xsd:enumeration value="AN"/>
				<xsd:enumeration value="AO"/>
				<xsd:enumeration value="AP"/>
				<xsd:enumeration value="AQ"/>
				<xsd:enumeration value="AR"/>
				<xsd:enumeration value="AS"/>
				<xsd:enumeration value="AT"/>
				<xsd:enumeration value="AU"/>
				<xsd:enumeration value="AV"/>
				<xsd:enumeration value="AW"/>
				<xsd:enumeration value="AX"/>
				<xsd:enumeration value="AY"/>
				<xsd:enumeration value="AZ"/>
				<xsd:enumeration value="BA"/>
				<xsd:enumeration value="BB"/>
				<xsd:enumeration value="BC"/>
				<xsd:enumeration value="BD"/>
				<xsd:enumeration value="BE"/>
				<xsd:enumeration value="BF"/>
				<xsd:enumeration value="BL"/>
				<xsd:enumeration value="BS"/>
				<xsd:enumeration value="CA"/>
				<xsd:enumeration value="CB"/>
				<xsd:enumeration value="CC"/>
				<xsd:enumeration value="CD"/>
				<xsd:enumeration value="CE"/>
				<xsd:enumeration value="CF"/>
				<xsd:enumeration value="CH"/>
				<xsd:enumeration value="CI"/>
				<xsd:enumeration value="CJ"/>
				<xsd:enumeration value="CK"/>
				<xsd:enumeration value="CL"/>
				<xsd:enumeration value="CM"/>
				<xsd:enumeration value="CN"/>
				<xsd:enumeration value="CO"/>
				<xsd:enumeration value="CP"/>
				<xsd:enumeration value="CQ"/>
				<xsd:enumeration value="CR"/>
				<xsd:enumeration value="CS"/>
				<xsd:enumeration value="CT"/>
				<xsd:enumeration value="CU"/>
				<xsd:enumeration value="CV"/>
				<xsd:enumeration value="CW"/>
				<xsd:enumeration value="D3"/>
				<xsd:enumeration value="D4"/>
				<xsd:enumeration value="D5"/>
				<xsd:enumeration value="DA"/>
				<xsd:enumeration value="DD"/>
				<xsd:enumeration value="DF"/>
				<xsd:enumeration value="DI"/>
				<xsd:enumeration value="DM"/>
				<xsd:enumeration value="DS"/>
				<xsd:enumeration value="DX"/>
				<xsd:enumeration value="EC"/>
				<xsd:enumeration value="ED"/>
				<xsd:enumeration value="EI"/>
				<xsd:enumeration value="EN"/>
				<xsd:enumeration value="EP"/>
				<xsd:enumeration value="ER"/>
				<xsd:enumeration value="ES"/>
				<xsd:enumeration value="EV"/>
				<xsd:enumeration value="EX"/>
				<xsd:enumeration value="FA"/>
				<xsd:enumeration value="FB"/>
				<xsd:enumeration value="FC"/>
				<xsd:enumeration value="FG"/>
				<xsd:enumeration value="FR"/>
				<xsd:enumeration value="FT"/>
				<xsd:enumeration value="GC"/>
				<xsd:enumeration value="GE"/>
				<xsd:enumeration value="GF"/>
				<xsd:enumeration value="GL"/>
				<xsd:enumeration value="GP"/>
				<xsd:enumeration value="GR"/>
				<xsd:enumeration value="GT"/>
				<xsd:enumeration value="HB"/>
				<xsd:enumeration value="HC"/>
				<xsd:enumeration value="HI"/>
				<xsd:enumeration value="HN"/>
				<xsd:enumeration value="HP"/>
				<xsd:enumeration value="HR"/>
				<xsd:enumeration value="HS"/>
				<xsd:enumeration value="HU"/>
				<xsd:enumeration value="HV"/>
				<xsd:enumeration value="IA"/>
				<xsd:enumeration value="IB"/>
				<xsd:enumeration value="IC"/>
				<xsd:enumeration value="ID"/>
				<xsd:enumeration value="IE"/>
				<xsd:enumeration value="IF"/>
				<xsd:enumeration value="IG"/>
				<xsd:enumeration value="IH"/>
				<xsd:enumeration value="IJ"/>
				<xsd:enumeration value="IM"/>
				<xsd:enumeration value="IN"/>
				<xsd:enumeration value="IO"/>
				<xsd:enumeration value="IR"/>
				<xsd:enumeration value="IS"/>
				<xsd:enumeration value="JB"/>
				<xsd:enumeration value="KM"/>
				<xsd:enumeration value="LA"/>
				<xsd:enumeration value="LB"/>
				<xsd:enumeration value="LI"/>
				<xsd:enumeration value="LN"/>
				<xsd:enumeration value="LR"/>
				<xsd:enumeration value="LS"/>
				<xsd:enumeration value="LT"/>
				<xsd:enumeration value="MA"/>
				<xsd:enumeration value="MC"/>
				<xsd:enumeration value="MD"/>
				<xsd:enumeration value="ME"/>
				<xsd:enumeration value="MF"/>
				<xsd:enumeration value="MG"/>
				<xsd:enumeration value="MH"/>
				<xsd:enumeration value="MI"/>
				<xsd:enumeration value="MJ"/>
				<xsd:enumeration value="MK"/>
				<xsd:enumeration value="MM"/>
				<xsd:enumeration value="MN"/>
				<xsd:enumeration value="MO"/>
				<xsd:enumeration value="MP"/>
				<xsd:enumeration value="MQ"/>
				<xsd:enumeration value="MR"/>
				<xsd:enumeration value="MS"/>
				<xsd:enumeration value="MT"/>
				<xsd:enumeration value="MV"/>
				<xsd:enumeration value="MW"/>
				<xsd:enumeration value="MX"/>
				<xsd:enumeration value="MY"/>
				<xsd:enumeration value="MZ"/>
				<xsd:enumeration value="NC"/>
				<xsd:enumeration value="NL"/>
				<xsd:enumeration value="NP"/>
				<xsd:enumeration value="NR"/>
				<xsd:enumeration value="NT"/>
				<xsd:enumeration value="OC"/>
				<xsd:enumeration value="OG"/>
				<xsd:enumeration value="OR"/>
				<xsd:enumeration value="OW"/>
				<xsd:enumeration value="PA"/>
				<xsd:enumeration value="PB"/>
				<xsd:enumeration value="PC"/>
				<xsd:enumeration value="PD"/>
				<xsd:enumeration value="PE"/>
				<xsd:enumeration value="PF"/>
				<xsd:enumeration value="PG"/>
				<xsd:enumeration value="PH"/>
				<xsd:enumeration value="PI"/>
				<xsd:enumeration value="PJ"/>
				<xsd:enumeration value="PK"/>
				<xsd:enumeration value="PL"/>
				<xsd:enumeration value="PN"/>
				<xsd:enumeration value="PO"/>
				<xsd:enumeration value="PQ"/>
				<xsd:enumeration value="PR"/>
				<xsd:enumeration value="PS"/>
				<xsd:enumeration value="PT"/>
				<xsd:enumeration value="PU"/>
				<xsd:enumeration value="PV"/>
				<xsd:enumeration value="PW"/>
				<xsd:enumeration value="PY"/>
				<xsd:enumeration value="QG"/>
				<xsd:enumeration value="QM"/>
				<xsd:enumeration value="QO"/>
				<xsd:enumeration value="RA"/>
				<xsd:enumeration value="RB"/>
				<xsd:enumeration value="RC"/>
				<xsd:enumeration value="RD"/>
				<xsd:enumeration value="RE"/>
				<xsd:enumeration value="RF"/>
				<xsd:enumeration value="RG"/>
				<xsd:enumeration value="RH"/>
				<xsd:enumeration value="RI"/>
				<xsd:enumeration value="RJ"/>
				<xsd:enumeration value="RK"/>
				<xsd:enumeration value="RL"/>
				<xsd:enumeration value="RM"/>
				<xsd:enumeration value="RN"/>
				<xsd:enumeration value="RO"/>
				<xsd:enumeration value="RP"/>
				<xsd:enumeration value="RQ"/>
				<xsd:enumeration value="RR"/>
				<xsd:enumeration value="RS"/>
				<xsd:enumeration value="RT"/>
				<xsd:enumeration value="RU"/>
				<xsd:enumeration value="RV"/>
				<xsd:enumeration value="RW"/>
				<xsd:enumeration value="RX"/>
				<xsd:enumeration value="RY"/>
				<xsd:enumeration value="RZ"/>
				<xsd:enumeration value="SA"/>
				<xsd:enumeration value="SB"/>
				<xsd:enumeration value="SC"/>
				<xsd:enumeration value="SD"/>
				<xsd:enumeration value="SE"/>
				<xsd:enumeration value="SH"/>
				<xsd:enumeration value="SI"/>
				<xsd:enumeration value="SJ"/>
				<xsd:enumeration value="SL"/>
				<xsd:enumeration value="SM"/>
				<xsd:enumeration value="SN"/>
				<xsd:enumeration value="SO"/>
				<xsd:enumeration value="SP"/>
				<xsd:enumeration value="SQ"/>
				<xsd:enumeration value="SR"/>
				<xsd:enumeration value="SS"/>
				<xsd:enumeration value="ST"/>
				<xsd:enumeration value="SU"/>
				<xsd:enumeration value="SV"/>
				<xsd:enumeration value="SW"/>
				<xsd:enumeration value="TA"/>
				<xsd:enumeration value="TB"/>
				<xsd:enumeration value="TD"/>
				<xsd:enumeration value="TE"/>
				<xsd:enumeration value="TF"/>
				<xsd:enumeration value="TI"/>
				<xsd:enumeration value="TJ"/>
				<xsd:enumeration value="TM"/>
				<xsd:enumeration value="TN"/>
				<xsd:enumeration value="TO"/>
				<xsd:enumeration value="TP"/>
				<xsd:enumeration value="TR"/>
				<xsd:enumeration value="TS"/>
				<xsd:enumeration value="TT"/>
				<xsd:enumeration value="TU"/>
				<xsd:enumeration value="TX"/>
				<xsd:enumeration value="UA"/>
				<xsd:enumeration value="UB"/>
				<xsd:enumeration value="UC"/>
				<xsd:enumeration value="UD"/>
				<xsd:enumeration value="UI"/>
				<xsd:enumeration value="UP"/>
				<xsd:enumeration value="UW"/>
				<xsd:enumeration value="VA"/>
				<xsd:enumeration value="VB"/>
				<xsd:enumeration value="VC"/>
				<xsd:enumeration value="VD"/>
				<xsd:enumeration value="VE"/>
				<xsd:enumeration value="VH"/>
				<xsd:enumeration value="VI"/>
				<xsd:enumeration value="VS"/>
				<xsd:enumeration value="WA"/>
				<xsd:enumeration value="WB"/>
				<xsd:enumeration value="WG"/>
				<xsd:enumeration value="WI"/>
				<xsd:enumeration value="WL"/>
				<xsd:enumeration value="WR"/>
				<xsd:enumeration value="WT"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="479" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Functional Identifier Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-28">
		<xsd:annotation>
			<xsd:documentation>Assigned number originated and maintained by the sender </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="28" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Group Control Number" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-480">
		<xsd:annotation>
			<xsd:documentation>Code indicating the version, release, subrelease, and industry identifier of the EDI standard being used, including the GS and GE segments; if code in DE455 in GS segment is X, then in DE 480 positions 1-3 are the version number; positions 4-6 are the release and subrelease, level of the version; and positions 7-12 are the industry or trade association identifiers (optionally assigned by user); if code in DE455 in GS segment is T, then other formats are allowed </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="001000"/>
				<xsd:enumeration value="002000"/>
				<xsd:enumeration value="002001"/>
				<xsd:enumeration value="002002"/>
				<xsd:enumeration value="002003"/>
				<xsd:enumeration value="002031"/>
				<xsd:enumeration value="002040"/>
				<xsd:enumeration value="002041"/>
				<xsd:enumeration value="002042"/>
				<xsd:enumeration value="003000"/>
				<xsd:enumeration value="003010"/>
				<xsd:enumeration value="003011"/>
				<xsd:enumeration value="003012"/>
				<xsd:enumeration value="003020"/>
				<xsd:enumeration value="003021"/>
				<xsd:enumeration value="003022"/>
				<xsd:enumeration value="003030"/>
				<xsd:enumeration value="003031"/>
				<xsd:enumeration value="003032"/>
				<xsd:enumeration value="003040"/>
				<xsd:enumeration value="003041"/>
				<xsd:enumeration value="003042"/>
				<xsd:enumeration value="003050"/>
				<xsd:enumeration value="003051"/>
				<xsd:enumeration value="003052"/>
				<xsd:enumeration value="003060"/>
				<xsd:enumeration value="003061"/>
				<xsd:enumeration value="003062"/>
				<xsd:enumeration value="003070"/>
				<xsd:enumeration value="003071"/>
				<xsd:enumeration value="003072"/>
				<xsd:enumeration value="004000"/>
				<xsd:enumeration value="004010"/>
				<xsd:enumeration value="004011"/>
				<xsd:enumeration value="004012"/>
				<xsd:enumeration value="004020"/>
				<xsd:enumeration value="004021"/>
				<xsd:enumeration value="004022"/>
				<xsd:enumeration value="004030"/>
				<xsd:enumeration value="004031"/>
				<xsd:enumeration value="004032"/>
				<xsd:enumeration value="004040"/>
				<xsd:enumeration value="004041"/>
				<xsd:enumeration value="004042"/>
				<xsd:enumeration value="004050"/>
				<xsd:enumeration value="004051"/>
				<xsd:enumeration value="004052"/>
				<xsd:enumeration value="004060"/>
				<xsd:enumeration value="004061"/>
				<xsd:enumeration value="004062"/>
				<xsd:enumeration value="005000"/>
				<xsd:enumeration value="005010"/>
				<xsd:attribute name="EDIDataType" fixed="AN" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="480" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Version / Release / Industry Identifier Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Loop-AK2">
		<xsd:annotation>
			<xsd:documentation>To start acknowledgment of a single transaction set</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Segment-AK2" type="Segment-AK2" minOccurs="1"/>
			<xsd:element name="Loop-IK3" type="Loop-IK3" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
			<xsd:element name="Segment-IK5" type="Segment-IK5"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		<xsd:attribute name="ID" default="AK2" type="xsd:string"/>
		<xsd:attribute name="Name" default="Transaction Set Response Header" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Segment-AK2">
		<xsd:annotation>
			<xsd:documentation>To start acknowledgment of a single transaction set</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-143" type="Element-143"/>
			<xsd:element name="Element-329" type="Element-329"/>
			<xsd:element name="Element-1705" type="Element-1705" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="AK2" type="xsd:string"/>
		<xsd:attribute name="Name" default="Transaction Set Response Header" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Loop-IK3">
		<xsd:annotation>
			<xsd:documentation>To report implementation errors in a data segment and identify the location of the data segment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Segment-IK3" type="Segment-IK3" minOccurs="1"/>
			<xsd:element name="Segment-CTX" type="Segment-CTX" minOccurs="0" maxOccurs="10" nillable="true"/>
			<xsd:element name="Loop-IK4" type="Loop-IK4" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		<xsd:attribute name="ID" default="IK3" type="xsd:string"/>
		<xsd:attribute name="Name" default="Implementation Data Segment Note" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Segment-IK3">
		<xsd:annotation>
			<xsd:documentation>To report implementation errors in a data segment and identify the location of the data segment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-721" type="Element-721"/>
			<xsd:element name="Element-719" type="Element-719"/>
			<xsd:element name="Element-447" type="Element-447" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-620" type="Element-620" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="IK3" type="xsd:string"/>
		<xsd:attribute name="Name" default="Implementation Data Segment Note" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-721">
		<xsd:annotation>
			<xsd:documentation>Code defining the segment ID of the data segment in error (See Appendix A - Number 77) </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="2"/>
				<xsd:maxLength value="3"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="721" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Segment ID Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-719">
		<xsd:annotation>
			<xsd:documentation>The numerical count position of this data segment from the start of the transaction set: the transaction set header is count position 1 </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="719" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Segment Position in Transaction Set" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-447">
		<xsd:annotation>
			<xsd:documentation>The loop ID number given on the transaction set diagram is the value for this data element in segments LS and LE </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="4"/>
				<xsd:attribute name="EDIDataType" fixed="AN" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="447" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Loop Identifier Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-620">
		<xsd:annotation>
			<xsd:documentation>Code indicating implementation error found based on the syntax editing of a segment </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
				<xsd:enumeration value="3"/>
				<xsd:enumeration value="4"/>
				<xsd:enumeration value="5"/>
				<xsd:enumeration value="6"/>
				<xsd:enumeration value="7"/>
				<xsd:enumeration value="8"/>
				<xsd:enumeration value="I4"/>
				<xsd:enumeration value="I6"/>
				<xsd:enumeration value="I7"/>
				<xsd:enumeration value="I8"/>
				<xsd:enumeration value="I9"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="620" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Implementation Segment Syntax Error Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Segment-CTX">
		<xsd:annotation>
			<xsd:documentation>Describes an event context in terms of the application or implementation contexts in force at the time the event occurred and the position in the EDI stream at which that context was activated</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Composite-C998" type="Composite-C998" maxOccurs="10"/>
			<xsd:element name="Element-721" type="Element-721" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-719" type="Element-719" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-447" type="Element-447" minOccurs="0" nillable="true"/>
			<xsd:element name="Composite-C030" type="Composite-C030" minOccurs="0" nillable="true"/>
			<xsd:element name="Composite-C999" type="Composite-C999" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="CTX" type="xsd:string"/>
		<xsd:attribute name="Name" default="Context" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Composite-C998">
		<xsd:annotation>
			<xsd:documentation>Holds information to identify a context </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-9999" type="Element-9999"/>
			<xsd:element name="Element-9998" type="Element-9998" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		<xsd:attribute name="ID" default="C998" type="xsd:string"/>
		<xsd:attribute name="Name" default="Context Identification" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-9999">
		<xsd:annotation>
			<xsd:documentation>Holds the name or 'tag' of a context </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="35"/>
				<xsd:attribute name="EDIDataType" fixed="AN" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="9999" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Context Name" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-9998">
		<xsd:annotation>
			<xsd:documentation>Holds a reference to or for a context </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="35"/>
				<xsd:attribute name="EDIDataType" fixed="AN" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="9998" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Context Reference" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Composite-C030">
		<xsd:annotation>
			<xsd:documentation>Code indicating the relative position of the simple data element or composite data structure in error within a segment, count beginning with 1 for the position immediately following the segment ID; additionally indicating the relative position of a repeating structure in error, count beginning with 1 for the position immediately following the preceding element separator; additionally indicating the relative position of a component of a composite data structure in error, count beginning with 1 for the position following the preceding element or repetition separator </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-722" type="Element-722"/>
			<xsd:element name="Element-1528" type="Element-1528" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-1686" type="Element-1686" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		<xsd:attribute name="ID" default="C030" type="xsd:string"/>
		<xsd:attribute name="Name" default="Position in Segment" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-722">
		<xsd:annotation>
			<xsd:documentation>This is used to indicate the relative position of a simple data element, or the relative position of a composite data structure with the relative position of the component within the composite data structure, in error; in the data segment the count starts with 1 for the simple data element or composite data structure immediately following the segment ID </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="722" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Element Position in Segment" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-1528">
		<xsd:annotation>
			<xsd:documentation>To identify the component data element position within the composite that is in error </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="1528" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Component Data Element Position in Composite" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-1686">
		<xsd:annotation>
			<xsd:documentation>To identify the specific repetition of a data element that is in error </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="1686" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Repeating Data Element Position" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Composite-C999">
		<xsd:annotation>
			<xsd:documentation>To hold the reference number of a data element and optionally a component data element within a composite </xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-725" type="Element-725"/>
			<xsd:element name="Element-725_1" type="Element-725" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Composite" type="xsd:string"/>
		<xsd:attribute name="ID" default="C999" type="xsd:string"/>
		<xsd:attribute name="Name" default="Reference in Segment" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-725">
		<xsd:annotation>
			<xsd:documentation>Reference number used to locate the data element in the Data Element Dictionary </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="725" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Data Element Reference Number" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Loop-IK4">
		<xsd:annotation>
			<xsd:documentation>To report implementation errors in a data element or composite data structure and identify the location of the data element</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Segment-IK4" type="Segment-IK4" minOccurs="1"/>
			<xsd:element name="Segment-CTX" type="Segment-CTX" minOccurs="0" maxOccurs="10" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Loop" type="xsd:string"/>
		<xsd:attribute name="ID" default="IK4" type="xsd:string"/>
		<xsd:attribute name="Name" default="Implementation Data Element Note" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Segment-IK4">
		<xsd:annotation>
			<xsd:documentation>To report implementation errors in a data element or composite data structure and identify the location of the data element</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Composite-C030" type="Composite-C030"/>
			<xsd:element name="Element-725" type="Element-725" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-621" type="Element-621"/>
			<xsd:element name="Element-724" type="Element-724" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="IK4" type="xsd:string"/>
		<xsd:attribute name="Name" default="Implementation Data Element Note" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-621">
		<xsd:annotation>
			<xsd:documentation>Code indicating the implementation error found after syntax edits of a data element </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
				<xsd:enumeration value="3"/>
				<xsd:enumeration value="4"/>
				<xsd:enumeration value="5"/>
				<xsd:enumeration value="6"/>
				<xsd:enumeration value="7"/>
				<xsd:enumeration value="8"/>
				<xsd:enumeration value="9"/>
				<xsd:enumeration value="10"/>
				<xsd:enumeration value="12"/>
				<xsd:enumeration value="13"/>
				<xsd:enumeration value="I6"/>
				<xsd:enumeration value="I9"/>
				<xsd:enumeration value="I10"/>
				<xsd:enumeration value="I11"/>
				<xsd:enumeration value="I12"/>
				<xsd:enumeration value="I13"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="621" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Implementation Data Element Syntax Error Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-724">
		<xsd:annotation>
			<xsd:documentation>This is a copy of the data element in error </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:minLength value="1"/>
				<xsd:maxLength value="99"/>
				<xsd:attribute name="EDIDataType" fixed="AN" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="724" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Copy of Bad Data Element" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Segment-IK5">
		<xsd:annotation>
			<xsd:documentation>To acknowledge acceptance or rejection and report implementation errors in a transaction set</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-717" type="Element-717"/>
			<xsd:element name="Element-618" type="Element-618" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-618_1" type="Element-618" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-618_2" type="Element-618" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-618_3" type="Element-618" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-618_4" type="Element-618" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="IK5" type="xsd:string"/>
		<xsd:attribute name="Name" default="Implementation Transaction Set Response Trailer" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-717">
		<xsd:annotation>
			<xsd:documentation>Code indicating accept or reject condition based on the syntax editing of the transaction set </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="W"/>
				<xsd:enumeration value="X"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="717" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Transaction Set Acknowledgment Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-618">
		<xsd:annotation>
			<xsd:documentation>Code indicating implementation error found based on the syntax editing of a transaction set </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
				<xsd:enumeration value="3"/>
				<xsd:enumeration value="4"/>
				<xsd:enumeration value="5"/>
				<xsd:enumeration value="6"/>
				<xsd:enumeration value="7"/>
				<xsd:enumeration value="8"/>
				<xsd:enumeration value="9"/>
				<xsd:enumeration value="10"/>
				<xsd:enumeration value="11"/>
				<xsd:enumeration value="12"/>
				<xsd:enumeration value="13"/>
				<xsd:enumeration value="15"/>
				<xsd:enumeration value="16"/>
				<xsd:enumeration value="17"/>
				<xsd:enumeration value="18"/>
				<xsd:enumeration value="19"/>
				<xsd:enumeration value="23"/>
				<xsd:enumeration value="24"/>
				<xsd:enumeration value="25"/>
				<xsd:enumeration value="26"/>
				<xsd:enumeration value="27"/>
				<xsd:enumeration value="I5"/>
				<xsd:enumeration value="I6"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="618" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Implementation Transaction Set Syntax Error Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Segment-AK9">
		<xsd:annotation>
			<xsd:documentation>To acknowledge acceptance or rejection of a functional group and report the number of included transaction sets from the original trailer, the accepted sets, and the received sets in this functional group</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-715" type="Element-715"/>
			<xsd:element name="Element-97" type="Element-97"/>
			<xsd:element name="Element-123" type="Element-123"/>
			<xsd:element name="Element-2" type="Element-2"/>
			<xsd:element name="Element-716" type="Element-716" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-716_1" type="Element-716" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-716_2" type="Element-716" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-716_3" type="Element-716" minOccurs="0" nillable="true"/>
			<xsd:element name="Element-716_4" type="Element-716" minOccurs="0" nillable="true"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="AK9" type="xsd:string"/>
		<xsd:attribute name="Name" default="Functional Group Response Trailer" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-715">
		<xsd:annotation>
			<xsd:documentation>Code indicating accept or reject condition based on the syntax editing of the functional group </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="A"/>
				<xsd:enumeration value="E"/>
				<xsd:enumeration value="M"/>
				<xsd:enumeration value="P"/>
				<xsd:enumeration value="R"/>
				<xsd:enumeration value="W"/>
				<xsd:enumeration value="X"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="715" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Functional Group Acknowledge Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-97">
		<xsd:annotation>
			<xsd:documentation>Total number of transaction sets included in the functional group or interchange (transmission) group terminated by the trailer containing this data element </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="97" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Number of Transaction Sets Included" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-123">
		<xsd:annotation>
			<xsd:documentation>Number of Transaction Sets received </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="123" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Number of Received Transaction Sets" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-2">
		<xsd:annotation>
			<xsd:documentation>Number of accepted Transaction Sets in a Functional Group </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="2" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Number of Accepted Transaction Sets" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Element-716">
		<xsd:annotation>
			<xsd:documentation>Code indicating error found based on the syntax editing of the functional group header and/or trailer </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-String-Type">
				<xsd:enumeration value="1"/>
				<xsd:enumeration value="2"/>
				<xsd:enumeration value="3"/>
				<xsd:enumeration value="4"/>
				<xsd:enumeration value="5"/>
				<xsd:enumeration value="6"/>
				<xsd:enumeration value="10"/>
				<xsd:enumeration value="11"/>
				<xsd:enumeration value="12"/>
				<xsd:enumeration value="13"/>
				<xsd:enumeration value="14"/>
				<xsd:enumeration value="15"/>
				<xsd:enumeration value="16"/>
				<xsd:enumeration value="17"/>
				<xsd:enumeration value="18"/>
				<xsd:enumeration value="19"/>
				<xsd:enumeration value="23"/>
				<xsd:enumeration value="24"/>
				<xsd:enumeration value="25"/>
				<xsd:enumeration value="26"/>
				<xsd:attribute name="EDIDataType" fixed="ID" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="716" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Functional Group Syntax Error Code" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Segment-SE">
		<xsd:annotation>
			<xsd:documentation>To indicate the end of the transaction set and provide the count of the transmitted segments (including the beginning (ST) and ending (SE) segments)</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Element-96" type="Element-96"/>
			<xsd:element name="Element-329" type="Element-329"/>
		</xsd:sequence>
		<xsd:attribute name="Type" default="Segment" type="xsd:string"/>
		<xsd:attribute name="ID" default="SE" type="xsd:string"/>
		<xsd:attribute name="Name" default="Transaction Set Trailer" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="Element-96">
		<xsd:annotation>
			<xsd:documentation>Total number of segments included in a transaction set including ST and SE segments </xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EDI-Element-Integer-Type">
				<xsd:attribute name="EDIDataType" fixed="N0" type="xsd:string"/>
				<xsd:attribute name="ID" fixed="96" type="xsd:string"/>
				<xsd:attribute name="Name" fixed="Number of Included Segments" type="xsd:string"/>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>